html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

body {
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header {
  display:  flex;
  position: fixed;
  width: 1220px;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 5;
}

.logo {
  display: inline-flex;
  padding-left: 10px;
  height: 50px;
}

.logo nav {
  /* Make absolute and push to the right of the flex container */
  position: absolute;
  right: 0;
  padding-right: 5px;

}

.logo nav a {
  display: inline-flex;
  padding-left: 5px;
  text-decoration: underline;
  color: white;
}

.mission {
  display: inline-flex;
  position: relative;
  top: 75px;
  justify-content: center;
  height: 700px;
  width: 1200px;
}

.mission .mimg {
  /*make relative but don't adjust position -
  do so in order to allow text of .mtext to
  'float' on top*/
  position: relative;
}

.mission .mimg .mtext {
  /* Make absolute and position in 'center' of .mimg */
  position: absolute;
  left: 0; top 65%; right: 0; bottom: 35%;
  background-color: black;
}

.tea .teaimg {
  display: inline-flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tea .teaimg2 {
  display: inline-flex;
  width: 1000px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.tea .teaimg h4 {
  padding-top: 10px;
}

.location {
  display: inline-flex;
  justify-content: center;

}

.location .locimg {
  /*make relative but don't adjust position -
  do so in order to allow text of .mtext to
  'float' on top*/
  position: relative;
  height: 500px;
  width: 1200px;
}

.location .locimg .loctext {
  /* Make absolute and position in 'center' */
  position: absolute;
  left: 0; top 25%; right: 0; bottom: 75%;
  z-index: 5;
}

.location .locimg .locations {
  display: inline-flex;
  z-index: 5;
}

.location .locimg .locations .loc1 {
  /* Make absolute and position in 'center' of .mimg */
  position: absolute;
  left: 55px; top: 35%;
  width: 300px;
  padding-top: 15px;
  opacity: 1;
  background-color: black;
}

.location .locimg .locations .loc2 {
  position: absolute;
  left: 430px; top: 35%;
  width: 300px;
  padding-top: 15px;
  opacity: 1;
  background-color: black;
}
.location .locimg .locations .loc3 {
  position: absolute;
  right: 55px; top: 35%;
  width: 300px;
  padding-top: 15px;
  opacity: 1;
  background-color: black;
}
.footer {
  height: 200px
  left: 20px;
}

.footer p {
  position: absolute;
  text-align: left;
}
